<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>
        <ship_indicator>
            <general>
                <is_enable>0</is_enable>
                <use_core_freeshipping_config>0</use_core_freeshipping_config>
                <order_min_total>0</order_min_total>
                <use_order_subtotal>0</use_order_subtotal>
                <order_subtotal_includes_discount>0</order_subtotal_includes_discount>
            </general>
        </ship_indicator>
    </default>
</config>